{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>MY PROFILE</title>
<!-- Start of page content -->


<!-- Text landing -->
<div class="container">
    <img src="{% static 'assets/gambar.jpg' %}" class="gambar">
    <div class="heroText">
        ARIQ RAHMATULLAH
    </div>
	
	<div id = "bio">
		<ul>
			<li>NPM: 1806204884</li>
			<li>Umur: 19</li>
			<li>Angkatan: 2018</li>
			<li>Hobi: Menulis hobi</li>
			<li>Tempat Kuliah: UI</li>
			<li>Deskripsi: Ok nice</li>
		</ul>
	</div>

</div>